extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kevin Curtis

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi, I'm Kevin, a full stack JavaScript developer based in Dublin, Ireland. I love 
            | to build projects in JavaScript from the bottom up, though I can also build python 
            | projects with the Flask or Django frameworks. I love to watch code come to life 
            | as it takes shape and forms a web app that could potentially be used around the world.
            | If you'd like to build something amazing with me or you just need help on a project, get in contact.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Node
          li Express
          li Python
          li Flask
          li Django 
          li React
          li Balsamiq wireframing
          li SASS
          li Bootstrap 4
        h6 Contact Info

        ul
          li 00353-(0)-879407140
          li kpcurtis@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kevin-curtis-frontend-dev/') LinkedIn
        a.button.expanded(href='https://github.com/KevinCurtisDev') GitHub
        a.button.expanded(href='https://kevincurtis.io') KevinCurtis.io
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  